
//General SASS variables.
$CalendarDarkBlue: #26408c;
$CalendarLightBlue:#c7ebe9;
$CalendarWhite: #ffffff;
$CalendarLightGrey:#CDD7D6;
$CalendarSalmon:#F87060;
$CalendarGreen:#0F7173;
$CalendarLemonCurry:#B7990D;


